@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

.main-container {
    min-height: 100vh; 
    overflow: hidden;
    display: block;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

    /* Navbar */

.nav-edit {
    background-image: linear-gradient(to bottom right, purple, yellow);
    color: white;
    font-family: 'JetBrains Mono', monospace;
}

.nav-wrapper a{
    text-decoration: none;
}

.nav-wrapper ul li a:hover {
    color: red;
}

    /* PROFILE */

.well {
    background-image: linear-gradient(to bottom right, purple, yellow);
    box-shadow: 10px 5px 20px black;
    font-family: 'JetBrains Mono', monospace;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.img-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    max-width: 100%;
}

.btn {
    background-color: yellow;
    color: purple;
}

.btn i {
    color: purple;
}

    /* NEW REVIEWS */

    /* CARDS */

.card {
    height: 650px;
    width: 100%;
    margin-bottom: 20px;
}

.card-image {
    width: 100%;
    max-height: 500px;
}
