{% extends "base.html" %}
{% block content %}

        <div class="slider">
        <ul class="slides">
            <li>
                <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
                <div class="caption center-align deep-purple-text lighten-2 text-shadow">
                    <h3>WELCOME TO MEDIUM HEAT REVIEWS</h3>
                    <h5 class="light grey-text text-lighten-3">We build up your fire for all things entertainment.</h5>
                </div>
            </li>
            <li>
                <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
                <div class="caption center-align deep-purple-text lighten-2 text-shadow">
                    <a href="films.html">
                    <i class="cat-icon fas fa-film"></i>
                    <h3>FILMS</h3>
                    <h5 class="light grey-text text-lighten-3">Read the latest from our film fanatics!</h5>
                    </a>
                </div>
            </li>
            <li>
                <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
                <div class="caption left-align deep-purple-text lighten-2 text-shadow">
                    <i class="cat-icon fas fa-tv"></i>
                    <h3>TELEVISION</h3>
                    <h5 class="light grey-text text-lighten-3">Find out what is binge-worthy!</h5>
                </div>
            </li>
            <li>
                <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
                <div class="caption right-align deep-purple-text lighten-2 text-shadow">
                    <i class="cat-icon fas fa-book"></i>
                    <h3>BOOKS</h3>
                    <h5 class="light grey-text text-lighten-3">Start your fantasies, right here!</h5>
                </div>
            </li>
            <li>
                <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
                <div class="caption center-align deep-purple-text lighten-2 text-shadow">
                    <i class="cat-icon fas fa-gamepad"></i>
                    <h3>VIDEO GAMES</h3>
                    <h5 class="light grey-text text-lighten-3">Lose yourself in another world!</h5>
                </div>
            </li>
        </ul>
    </div>


{% endblock %}