{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align grey-text">Edit Profile</h3>

    <div class="container">
    <div class="row card-tiles">
        <form class="col s12" method="POST" action="{{ url_for('edit_profile', user_profile_id=user_profile._id) }}">
            <!-- Title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-edit prefix yellow-text"></i>
                    <input id="username" name="username" minlength="5" maxlength="15"
                        value="{{ user.username }}" type="text" class="validate white-text" required>
                    <label class="white-text" for="username">Change Username</label>
                </div>
            </div>
            <!--Change Password-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-lock prefix yellow-text"></i>
                    <input  id="password" name="password" minlength="4" maxlength="12"
                        pattern="^[a-zA-Z0-9{4,10}$" value="{{ user.password }}" type="text" class="validate white-text" required>
                    <label class="white-text-text" for="password">Change Password</label>
                </div>
            </div>
            <!--User Tagline-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-hashtag prefix yellow-text"></i>
                    <textarea id="tagline" name="tagline" minlength="5"
                        maxlength="50" value="{{ user.tagline }}" class="materialize-textarea validate white-text" required>
                        {{- user.tagline -}}
                    </textarea>
                    <label class="white-text" for="tagline">Tagline</label>
                </div>
            </div><i class="fas fa-images prefix yellow-text"></i>
            <!--Update user image-->
            <div class="row">
                <div class="input-field col s12"> 
                    <label class="white-text" for="user_image">Update Profile Image</label>
                    <input class="form-control white-text" id="user_image" name="user_image" value="{{ user.user_image }}" required type="url">
                </div>
            </div>
             <!-- Update Details -->
            <button type="edit" value="edit" class="btn" title="edit" aria-label="edit"><i class="fas fa-check icon-btn"></i></button>
            <!-- Cancel -->
            <a href="{{ url_for('profile')}}" class="btn" aria-label="cancel" title="cancel"><i class="fas fa-times-circle icon-btn"></i></a>
            </form>
            </div>
        </div>

{% endblock %}