{% extends "base.html" %}
{% block content %}


    <h3 class="center-align">Edit Review</h3>

    <p class="center-align head-back"><a href="{{ url_for('profile') }}">Return to Profile <i class="fas fa-undo-alt"></i></a></p>

    <div class="container">
        <div class="row card-tiles">
            <form class="col s12" method="POST" 
                action="{{ url_for('edit_review', review_id=review._id) }}">
			    <div class="row">    
				    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix yellow-text"></i>
                        <!-- category selection -->
                        <select id="category_name" name="category_name" class="validate category-choice" required>
                            <!--Review category to match media categories-->
                            <option disabled selected></option>
                            {% for category in categories %}
                                {% if category.category_name == review.category_name %}
                                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                                {% else %}
                                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
					    <label class="grey-text" for="category_name">Media Type</label>
				    </div>
    			</div>
                <!--insert image url-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-images prefix yellow-text"></i>
                        <label class="grey-text" for="img_url">Insert Image URL</label>
                        <input class="white-text form-control" value="{{ review.img_url }}" id="img_url" name="img_url" required type="url">
                    </div>
                </div>
                <!-- title -->
                <div class="row">
                   <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix yellow-text"></i>
                        <input id="title" name="title" minlength="5" maxlength="50"
                            type="text" value="{{ review.title }}" class="white-text validate" required>
                        <label class="grey-text" for="title">Title</label>
                    </div>
                </div>
                <!-- release date -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-alt prefix yellow-text"></i>
                        <input id="release_date" value="{{ review.release_date }}" name="release_date" type="text" class="datepicker white-text validate" required>
                        <label class="grey-text" for="release_date">Release Date</label>
                    </div>
                </div>
                <!--Created by-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-quote-left  prefix yellow-text"></i>
                        <input id="created_by" name="created_by" value="{{ review.created_by }}" minlength="5" maxlength="50"
                            type="text" class="white-text validate" required>
                        <label class="grey-text" for="created_by">Created By</label>
                    </div>
                </div>
                <!--Genre-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-plus prefix yellow-text"></i>
                        <input id="genre" name="genre" value="{{ review.genre }}" minlength="5" maxlength="50"
                            type="text" class="validate white-text" required>
                        <label class="grey-text" for="genre">Genre</label>
                    </div>
                </div>
                <!--Length-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-clock prefix yellow-text"></i>
                        <input id="length" name="length" value="{{ review.length }}" minlength="5" maxlength="50"
                            type="text" class="validate white-text" required>
                        <label class="grey-text" for="length">Length (Hours/Minutes/Episodes/Pages)</label>
                    </div>
                </div>
                <!-- Your Review -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix yellow-text"></i>
                        <textarea id="review" name="review" value="{{ review.review }}" minlength="5"
                            maxlength="200" class="materialize-textarea white-text validate" required>
                            {{- review.review -}}
                            </textarea>
                        <label class="grey-text" for="review">Your Review</label>
                    </div>
                </div>
                <!--Rating-->
                <div class="row">
                    <i class="fas fa-star prefix yellow-text"></i>
                    <label class="grey-text" for="rating">Rating</label>
                    <select name="rating" class="form-control category-choice" id="rating" required>
                        <option value="{{ review.rating }}" selected>{{ review.rating }}</option>
                        <option value="&#11088;">&#11088;</option>
                        <option value="&#11088; &#11088;">&#11088; &#11088;</option>
                        <option value="&#11088; &#11088; &#11088;">&#11088; &#11088; &#11088;</option>
                        <option value="&#11088; &#11088; &#11088; &#11088;">&#11088; &#11088; &#11088; &#11088;</option>
                       <option value="&#11088; &#11088; &#11088; &#11088; &#11088;">&#11088; &#11088; &#11088; &#11088; &#11088;</option>
                    </select>
                </div>
                <!-- Edit button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <!-- cancel button -->
                        <a href="{{ url_for('profile') }}" class="btn">
                            Cancel <i class="fas fa-times-circle right"></i>
                        </a>
                        <button type="submit" class="btn">
                            Update Review <i class="fas fa-edit right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}