{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Films</h3>

    <div class="container-fluid">
        <div class="row card-tiles">
        {% for review in reviews %}
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card center">
                    <div class="row">
                        <div class="col s12 center-align">
                    </div>
                </div>
                <div class="card-image">
                    <img class="activator" src="{{ review.img_url }}">
                </div>
                <div class="card-content activator">
                    <span class="card-title">{{ review.title }}</span>
                        <p class="card-comp">{{ review.rating }}</p>
                        <p class="card-comp"><strong>Release Date: </strong>{{ review.release_date }}</p>
                        <p class="card-comp"><strong>Created by: </strong>{{ review.created_by }}</p>
                        <p class="card-comp"><strong>Genre: </strong>{{ review.genre }}</p>
                        <p class="card-comp"><strong>Length: </strong>{{ review.length }}</p>
                        <p class="card-comp"><strong>Review: </strong>"{{ review.review }}"</p>
                        <p class="card-comp"><strong>Submitted by: </strong>{{ review.submitted_by }}</p>
                    <i class=" fas fa-ellipsis-h"></i>
                </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}