{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">New Reviews</h3>
    
    <!--Search Bar.-->
    <div class="row">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper right-align">
                <div class="input-field col s12 m6">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Reviews</label>
                </div>
                <div class="col s12 m4">
                    <!--Search button-->
                    <button type="submit" class="btn">
                        <i class="fas fa-search left"></i> Search
                    </button>
                    <!--Reset-->
                    <a href="{{ url_for('new_reviews') }}" class="btn">Reset</a>   
                </div>
            </div>
        </form>
    </div>
    
    <!-- Review Cards-->
    <div class="container-fluid">
        <div class="row card-tiles">
        {% for review in reviews %}
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card center">
                    <div class="row">
                        <div class="col s12 center-align">
                            <!--Category Name-->
                            <div class="category-header center-align">
                                {{ review.category_name }}   
                            </div>
                        </div>
                    </div>
                    <!--Image-->
                    <div class="card-image">
                        <img class="activator" src="{{ review.img_url }}">
                    </div>
                    <!--Content-->
                    <div class="card-content activator">
                        <span class="card-title">{{ review.title }}</span>
                        <p class="card-rating">{{ review.rating }}</p>
                        <p class="card-comp"><strong>Release Date: </strong>{{ review.release_date }}</p>
                        <p class="card-comp"><strong>Created by: </strong>{{ review.created_by }}</p>
                        <p class="card-comp"><strong>Genre: </strong>{{ review.genre }}</p>
                        <p class="card-comp"><strong>Length: </strong>{{ review.length }}</p>
                        <p class="card-comp"><strong>Review: </strong>"{{ review.review }}"</p>
                        <p class="card-comp"><strong>Submitted by: </strong>{{ review.submitted_by }}</p>
                        <i class=" fas fa-ellipsis-h"></i>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    
    <!--Category section-->
    <h3 class="center-align">choose your category</h3>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 md-6 sm-12">   
                <div class="cards 1">
                    <div class="card_image"> <img src="https://wallpaperaccess.com/full/2000046.jpg"/> </div>
                        <div class="card_title white-text">
                            <a class="url-link" href="{{ url_for('films') }}">
                                <p>Films</p>
                            </a>
                        </div>
                    </div>
                </div>
            <div class="col-lg-3 md-6 sm-12">
                <div class="cards 1">
                    <div class="card_image"><img src="https://wallpaperaccess.com/full/2081074.jpg"/> </div>
                        <div class="card_title white-text">
                            <a class="url-link" href="{{ url_for('television') }}">
                                <p>Television</p>
                            </a>
                        </div>
                    </div>
                </div>  
            <div class="col-lg-3 md-6 sm-12">
                <div class="cards 1">
                    <div class="card_image"> <img src="https://wallpaperaccess.com/full/124493.jpg"/> </div>
                        <div class="card_title white-text text-shadow">
                            <a class="url-link" href="{{ url_for('books') }}">
                                <p>Books</p>
                            </a>
                        </div>
                    </div>
                </div>    
            <div class="col-lg-3 md-6 sm-12">
                <div class="cards 1">
                    <div class="card_image"> <img src="https://ayay.co.uk/backgrounds/action_games/classic/space-invaders-minimal-cabinet.jpg"/></div>
                        <div class="card_title white-text text-shadow">
                            <a class="url-link" href="{{ url_for('videogames') }}">
                                <p>Video Games</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <p class="center-align head-back"><a href="{{ url_for('new_reviews') }}">Back to top <i class="fas fa-level-up-alt"></i></a></p>
    
{% endblock %}