{% extends "base.html" %}
{% block content %}
   
    <br><br>
    <div class="container well">
        <!--Profile-->
        <div class="row">
            <div class="col-12 yellow-text center-align profile-name">
                <h3>{{ user.username }}'s Profile</h3>
            </div>
            <div class="col-12 image-edit center-align">
                <img src="https://thumbnail.imgbin.com/6/11/3/imgbin-flame-business-engineering-flame-letter-EUB2t709MWAesEiKwzqD5xy4r_t.jpg" class="img-circle center-align">
            </div>  
        </div>
        <!--User Details-->
	    <div class="row">  
            <div class="col-12 center-align">
                <p class="tagline"><i class="fas fa-quote-left prefix yellow-text"></i> {{ user.tagline }} 
                <i class="fas fa-quote-right prefix yellow-text"></i></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-fav center-align">
                <h3>My Favourites!</h3>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 fav-list">
                        <i class="cat-icon fas fa-film"></i>
                        <p>{{ user.favourite_film }}</p>
                    </div>
                    <div class="col s12 m6 l3 fav-list">
                        <i class="cat-icon fas fa-tv"></i>
                        <p>{{ user.favourite_tv_show }}</p>
                    </div>
                    <div class="col s12 m6 l3 fav-list">
                        <i class="cat-icon fas fa-book"></i>
                        <p>{{ user.favourite_book }}</p>
                    </div>
                    <div class="col s12 m6 l3 fav-list">
                        <i class="cat-icon fas fa-gamepad"></i>
                        <p>{{ user.favourite_game }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 edit-profile-btn center-align">
                <a class="btn" href="{{ url_for('edit_profile', user_profile_id=user._id) }}" title="edit profile"> <i
                    class="fas fa-user-edit" aria-hidden="true"> Edit Profile</i></a>
            </div>
        </div>  
    </div>
    <!--My Reviews-->
    <div class="container">
        <div class="row">
            <div class="col-12 center-align">
                <h3>My Reviews</h3>
            </div>
            <!--Add Reviews-->
            <div class="col-12 center-align">
                <a class="btn " href="{{ url_for('add_reviews') }}" title="Add Review"> <i
                    class="fas fa-plus" aria-hidden="true"> Add Review</i></a>
            </div>
        </div>
    </div>
    <!--User Review Cards-->
    <div class="container-fluid">
        <div class="row card-tiles">
        {% for review in review %}
            {% if review.submitted_by == session["user"] %}
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="category-header center-align">
                    {{ review.category_name }}   
                </div>
                <div class="card center">
                    <div class="row">
                        <div class="col s12 center-align">
                            <!-- Edit button -->
                            <button type="submit" class="btn">
                                <a href="{{ url_for('edit_review', review_id=review._id) }}">
                                    <i class="fas fa-edit center"></i>
                                </a>
                            </button>
                            <!--Delete Button-->
                            <button type="delete" class="btn">
                                <a href="{{ url_for('delete_review', review_id=review._id) }}">
                                    <i class="fas fa-trash center"></i>
                                </a>
                            </button>
                        </div>
                    </div>
                    <!--Image-->
                    <div class="card-image">
                        <img class="activator" src="{{ review.img_url }}">
                    </div>
                    <!--Review Details-->
                    <div class="card-content activator">
                        <span class="card-title">{{ review.title }}</span>
                        <p class="card-rating">{{ review.rating }}</p>
                        <p class="card-comp"><strong>Release Date: </strong>{{ review.release_date }}</p>
                        <p class="card-comp"><strong>Created by: </strong>{{ review.created_by }}</p>
                        <p class="card-comp"><strong>Genre: </strong>{{ review.genre }}</p>
                        <p class="card-comp"><strong>Length: </strong>{{ review.length }}</p>
                        <p class="card-comp"><strong>Review: </strong>"{{ review.review }}"</p>                        
                        <p class="card-comp"><strong>Submitted by: </strong>{{ review.submitted_by }}</p>
                         <i class=" fas fa-ellipsis-h"></i>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <p class="center-align head-back"><a href="{{ url_for('new_reviews') }}">Head back <i class="fas fa-undo-alt"></i></a></p>
    <p class="center-align head-back"><a href="{{ url_for('profile') }}">Back to top <i class="fas fa-level-up-alt"></i></a></p>

{% endblock %}