{% extends "base.html" %}
{% block content %}
   
{% if main_content == "edit_profile" %}
<div class="container-fluid">
    {% include "edit_profile.html" %}
</div>

{% else %}
    <br><br>
    <div class="container well col s12">
        <div class="col offset-m2">
                <div class="btn-group">
                <a class="btn" href="{{ url_for('edit_profile', user_profile_id=user._id) }}" title="edit profile"><i
                    class="fas fa-user-edit icon-btn" aria-hidden="true"></i></a>
            </div>
        <div class="row">
            <div class="col s12 m8 offset-m2 center">
                <img src="{{ user.user_image }}" class="img-circle center-align">
            </div>
        </div>
	    <div class="row">
            <div class="col s12 m8 offset-m2 center-align">
                <h3>{{ user.username }}'s Profile</h3>
                <h6>{{ user.email }}</h6>
                <h6>{{ user.tagline }}</h6>
            </div>  
            
        </div>
</div>
</div>
{% endif %}

    <!--
        I WANT TO ADD THE REVIEWS SUBMITTED BY A USER TO SHOW ON THEIR PROFILE.
    -->


{% endblock %}